/** HEADER **/
#header-nav {
  background-color: #000000;
  border-radius: 0;
  border: 0;
  padding-bottom: 20px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.8em;
  font-weight: bold;
  /*text-shadow: 1px 1px 1px #222;*/
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

h1 {
	/*font-size: 1.8em;*/
}

#chicken {
	background: #C0C0C0;
	margin-bottom: 15px;
}

#beef {
	background: #F08080;
	margin-bottom: 15px;
}

#sushi {
	background: #008080;
	margin-bottom: 15px;
}

#chicken h3 {
	color: #FF5733;
}

#beef h3 {
	color: #0000FF;
}

#sushi h3 {
	color: #F4F814;
}

.row {
	height: auto;
}